@import "../../assets/variables";
@import "../../assets/mixins/rem";

.dialer {

	height: 100vh;
	
	&--flex {
		display: flex;
		flex-direction: column;
	}
	
	&__top {
		background: $dark-blue;
		height: 20vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		@include rem(padding, 40px);
	
		color: $white;

		&__time { 
			color: $light-grey;
			@include rem(font-size, 13px);
		}
		&__number { @include rem(font-size, 18px); }

	}

	&__pad {
			display: flex;
			height: 65vh;
	    flex-direction: row;
	    justify-content: space-around;
	    flex-wrap: wrap;

	    &__number {
				@include rem(font-size, 18px);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 33.3333%;
				color: $light-grey;
				border-bottom: 1px solid $light-grey;
    		border-left: 1px solid $light-grey;
				cursor: pointer;
  	    text-align: center;
				background: $medium-blue;
				&:active {
					background: $dark-blue;
				}
	    }
	}

	&__bottom {
		display: flex;
		justify-content: center;
		height: 15vh;
		align-items: center;
		background: $light-blue;
		@include rem(padding, 20px);

		&--full-height {
			height: 80vh;
			align-items: flex-start;
		}

    &__button {
			@include rem(height, 35px);
			@include rem(width, 122px);
			@include rem(border-radius, 3px);
    	border: none;
			color: $white;
			
			&--red { background: $red; }
			&--green { background: $green; }
    }
	}
}