<div class="[ dialer ]" [class.dialer--flex]=is_on_call>
	<!-- TOP SECTION -->
	<div class="[ dialer__top ]">
		<span class="[ dialer__top__time ]">{{ formatted_time }}</span>
		<span class="[ dialer__top__number ]">{{ number_to_dial }}</span>
	</div>
	<!-- /TOP SECTION -->

	<!-- DIALER -->
	<div class="[ dialer__pad ]" [hidden]=is_on_call>
		<div 
			*ngFor="let number of numbers" 
			class="[ dialer__pad__number ]"
			(click)="onClickNumber(number)">
			<span>{{ number }}</span>
		</div>
	</div>
	<!-- /DIALER -->

	<!-- BOTTOM SECTION -->
	<div class="[ dialer__bottom ]" [class.dialer__bottom--full-height]=is_on_call>
		
		<!-- DIAL BUTTON -->
		<button 
			#dial_button 
			[hidden]=is_on_call 
			class="[ dialer__bottom__button dialer__bottom__button--green ]">
			Dial
		</button>

		<!-- HANGUP BUTTON  -->
		<button 
			#hangup_button 
			[hidden]=!is_on_call 
			class="[ dialer__bottom__button dialer__bottom__button--red ]">
			Hangup
		</button>
	</div>
	<!-- /BOTTOM SECTION -->
</div>
